.admin-dashboard {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  }
  .sidebar {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 1rem;
    height: 90vh;
    margin: auto 10px;
  }
  .sidebar .nav-link {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: white;
  }
  .content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.btn-outline-light {
    transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
    color: black;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

